<h3>Toy Robot</h3>
<p>This robot moves on a 4x4 table.</p>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="sample3">
  <label class="mdl-textfield__label" for="sample3">Type your command here...</label>
</div>
