<h3>Toy Robot</h3>
<p>This robot moves on a 4x4 table.</p>
<div id="results"></div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="input_command">
  <label class="mdl-textfield__label" for="input_command">Type your command here...</label>
</div>
